#premier {
    color: blue;
}

#deux {
    font-family: "Courier New", sans-serif;
}

#trois {
    text-align: center;
}

#quatre {
    font-size: 50px;
}

.cinq {
    background-color: yellow;
}

.six {
    text-align: center;
}

.sept {
    border: 1px solid blue;
    height: 200px;
}